<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="XmlJdbcConnection" class="com.sandin.learning.spring.basics.spring5steps.xml.XmlJdbcConnection">
        <!-- collaborators and configuration for this bean go here -->
    </bean>

    <bean id="XmlPersonDAO" class="com.sandin.learning.spring.basics.spring5steps.xml.XmlPersonDAO">
        <!-- collaborators and configuration for this bean go here -->
        <property name="XmlJdbcConnection" ref="XmlJdbcConnection"></property>
    </bean>

    <!-- more bean definitions go here -->

</beans>